aside {
	width: 10%;
	height: 100%;
	padding-top: 1px;
	background-color: #808080;
	color: white;
	float: left;
}

main {
	width: 60%;
	background-color: #d3d3d3;
	float: right;
	margin-right: 250px;
}